<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E699F4C1C2AA05E008EA6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E699F681C2AA05F008EA6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E699F731C2AA05F008EA6CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
